body,
img,
input,
textarea,
button h1,
h2,
h3,
span,
i {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: inherit;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2 {
  font-family: "Amatic SC", sans-serif;
  font-style: normal;
}
h3,
h4,
h5,
h6,
p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
}
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

button,
i,
img {
  cursor: pointer;
}

*::selection {
  background-color: #dd5959;
  color: #fff;
}
/* ============================================== */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  position: fixed;
  padding: 12px 20px;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  z-index: 1000;
}

.nav-bar h3 {
  font-size: 30px;
  padding: 10px;
}
.nav-bar h3:hover {
  cursor: pointer;
}
.nav-bar span {
  color: #ce1212;
}
.nav-bar .menu {
  display: flex;
}
.menu span {
  display: flex;
}
.menu li {
  padding-left: 30px;
}
.menu li a {
  color: #7f7f90;
  font-size: 20px;
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
}
.nav-bar .menu #active-home a {
  color: #000;
}
.nav-bar .menu #active-home {
  position: relative;
}
.menu #active-home::after {
  content: "";
  width: 70px;
  height: 3px;
  background-color: #ce1212;
  top: 30px;
  left: 20px;
  position: absolute;
}
.menu span a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ce1212;
  transition: 0.15s ease-in-out;
}
.menu span a:hover:after {
  width: 100%;
}
.open-menu,
.close-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}
.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.close-menu {
  top: 20px;
  right: 20px;
}
#check {
  display: none;
}

/* ========================================== */
.bg {
  background-color: #eee;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
h1 {
  font-size: 70px;
}
.bg .data-bg {
  width: 500px;
}
.bg .watch {
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.bg .watch-video {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.bg .data-bg button {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #e40a0a;
  color: #fff;
  border: #e40a0a solid 1px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.play-icon {
  position: relative;
  display: block;
}

.play-icon::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 150%;
  height: 150%;
  border-left: 40px solid red;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  border-radius: 50%;
  text-align: center;
}

.play-icon i {
  position: relative;
  z-index: 2;
  font-size: 42px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
.play-icon i:hover {
  background-color: #ce1212;
}
.watch-video p {
  margin-left: 10px;
}
.watch-video p:hover {
  color: #ce1212;
}
.bg .bg-image {
  position: relative;
  overflow: hidden;
}
.bg .bg-image img {
  text-align: center;
  width: 75%;
  transition: 0.1s ease-in-out;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: 10px;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.9);
}
.bg .bg-image:hover img {
  animation: moving 0.1s ease-in-out infinite alternate;
}

/* =================================== */
.parent-chefs {
  width: 90%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.parent-chefs .child-chefs {
  width: 80%;
  margin-left: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.8s ease;
}
.data-chefs {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
.data-chefs h6,
p {
  color: #7f7f90;
}
.data-chefs p {
  font-style: italic;
}
.parent-chefs .child-chefs .image-container {
  position: relative;
  overflow: hidden;
}

.parent-chefs .child-chefs .image-wave {
  border-bottom: 1px solid #fff;
}
.image-container::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
  height: 60px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%23fff" fill-opacity="1" d="M0,128L34.3,160C68.6,192,137,256,206,261.3C274.3,267,343,213,411,208C480,203,549,245,617,229.3C685.7,213,754,139,823,122.7C891.4,107,960,149,1029,170.7C1097.1,192,1166,192,1234,165.3C1302.9,139,1371,85,1406,58.7L1440,32L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"%3E%3C/path%3E%3C/svg%3E');
}

.parent-chefs .child-chefs img {
  width: 100%;
  border-radius: 20px;
  display: block;
}
.parent-chefs .child-chefs:hover {
  transform: scale(1.05);
}
.parent-chefs .child-chefs .image-container .social-img {
  position: absolute;
  top: 50px;
  left: 0px;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 150px;
  opacity: 0;
  transform: translate(500px);
  color: #ccc;
  transition: all 1s ease-in;
  background-color: rgba(221, 206, 206, 0.5);
  border-radius: 5px;
}
.parent-chefs .child-chefs .image-container:hover .social-img {
  transform: translate(300px);
  opacity: 1;
}
.social-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.social-img i {
  color: #37373f66;
  transition: all 0.5s;
}
.social-img i:hover {
  color: #000;
}
/* ==================================== */
.bg-color {
  background-color: #eeeeee;
  text-align: center;
}

.masonry {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.column {
  flex: 1;
}

.item {
  margin-bottom: 20px;
  width: 90%;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  overflow: hidden;
  border: #fff solid 2px;
}
.item img {
  width: 100%;
  transition: all 0.3s ease;
}
.item:hover img {
  transform: scale(1.1);
}

.masonry .column .item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(500px);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.masonry .column .item:hover .overlay {
  opacity: 1;
  transform: translateY(0);
}
.masonry .column .item .overlay .content {
  padding: 15px;
}
.overlay .content h3,
.overlay .content p {
  color: #fff;
}
.overlay .content h3 {
  font-size: 25px;
}
/* ====================================== */
#map-container-wrapper {
  display: flex;
  justify-content: center;
}

#map-container {
  height: 350px;
  width: 80%;
}
/* =================================== */
.p-contact {
  display: flex;
  justify-content: center;
}
.child-contact {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 30px;
}
.data-contact {
  padding: 20px;
  background-color: #eee;
  display: flex;
  align-items: center;
  width: calc(50% - 10px);
}

.data-contact i {
  margin-right: 15px;
  color: #fff;
  font-size: 20px;
  background-color: #ce1212;
  border-radius: 50%;
  padding: 15px;
}
.data-contact span {
  font-weight: bold;
}
/* ===================================== */
.pa-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact-form {
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contact-subject {
  width: 100%;
  margin-bottom: 10px;
}
.contact-form .contact-info {
  width: 100%;
}
input,
textarea {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form button {
  border: none;
  background-color: #ce1212;
  color: white;
  padding: 15px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 150px;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#contactForm:invalid button {
  cursor: not-allowed;
}
.contact-form form input:focus,
.contact-form form textarea:focus {
  border: 2px solid #e22141;
}
.contact-form form input::placeholder,
.contact-form form textarea::placeholder {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ====================================== */
.footer {
  background-image: url(picture/textured-metal-background.jpg);
  background-size: cover;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
}
.footer .over-footer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.parent-footer {
  padding: 30px;
  width: 85%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 30px;
  z-index: 2;
}

.footer .logo {
  display: flex;
  color: #fff;
  align-items: center;
}
.footer .logo img {
  width: 50px;
}
.chlid-footer h3 {
  font-size: 18px;
  padding: 10px;
}
.chlid-footer span {
  font-size: 30px;
  color: #ce1212;
}
.chlid-footer p {
  color: #fff;
}

.input-footer {
  display: flex;
  align-items: center;
}
.input-footer .contact-info {
  background-color: #fff;
  padding: 8px;
}
.input-footer #submitButton {
  height: 35px;
  /* width: 150px; */
  background-color: #ce1212;
  color: #fff;
  border: 1px solid #dd5959;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-footer {
  text-align: center;
}
.social-footer hr {
  width: 300px;
  opacity: 0.5;
}
.social-footer i {
  margin: 10px;
  font-size: 25px;
}

.quick-links {
  display: flex;
  gap: 15px;
}
.div-left,
.div-rigth {
  flex: 1;
}
.quick-icon {
  display: flex;
  align-items: start;
  align-items: center;
  transform: translateX(0px);
  transition: all 0.5s ease-in-out;
}
.link-hover .quick-icon {
  height: 30px;
  width: 95%;
}
.link-hover .quick-icon:hover {
  background-color: rgba(71, 69, 69, 0.5);
  transform: translateX(15px);
}
.quick-icon h5 {
  margin-left: 10px;
}
.con-fot i {
  color: #ce1212;
  font-size: larger;
}

/* =================================== */
.title {
  padding: 30px;
  margin-top: 50px;
  text-align: center;
}
.title h5 {
  color: #7f7f90;
}
.title h2 {
  color: #4b4a4a;
  font-size: 45px;
}
.title span {
  color: #ee4848;
}
